body {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  margin: 0;
}

h2 {
  font-size: 35px;
  text-decoration: underline;
  text-underline-position: under; 
}

h3 {
  font-size: 30px;
}

div .big_container {
padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-right: 3%;
  padding-left: 3%;
  font-size: 25px; 
}

header img{
height: 75%;
}

.navbar a {
  color: #000000;
  text-decoration: none;
  margin-left: 25px;
}

.navbar a:hover {
  text-decoration: underline;
}

.picture_section {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(/spotify/images/background.jpg);
  background-size: cover;
  height: 800px;
  color: #FFFFFF;
}

.text_inside_img h1 {
font-size: 80px;
margin-top: 0px;
margin-bottom: 40px;
}

.text_inside_img p {
  font-size: 30px;
}

.features_section {
text-align: center;
}

.features_section h2 {
  text-decoration-color: #00c76f;
}

.features_section ul {
  display: flex;
  justify-content: space-evenly;
  margin-top: 7%;
  margin-bottom: 7%;
  list-style: none;
  padding: 0;
}

.features_section li {
width: 20%
}

.features_section img {
  width: 50%;
}

.features_section h3 {
  margin-top: 0;
  color: #00c76f;
}

.features_section p {
  font-size: 25px;
}

.example {
  background-color: #00c76f;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3%;
  padding: 6%
}

.example h2 {
  margin-top: 0;
}
.example p {
  font-size: 22px;
}

.example img {
  width: 30%;
}